# Generic ignore patterns
*.blf
*.log
*.tmp
*.bak
*.vtestreport
*.vtestreport-*
*.vtestreport*
*.tiend.settings
*.pcap
*.asc
*.ase

# CANoe generated output
Logging/
TestReports/
Auto/**/LOGASC/
Auto/OTA/**/RomData*.bin
rpt*.vtestreport*
